@charset 'utf-8';
@media screen and (max-width:600px){
    body{
        margin: 0px;
    }
    #tudo{
        width: 100vw;
        height: 100%;
        border-radius: 0px;
        margin: 0%;
    }
    #img{
        background-color: white;
        width: 117vw;
        padding: 0px;
    }
    #img>img{
        border-radius: 0px;
    }
}